
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../Style/bootstrap.css">
    <link rel="stylesheet" href="../Style/style.css">
    <title>Banner</title>
  </head>
  <body>
    <div class="jumbotron" id="banner">
    </div>
  </body>
</html>
